/Lab02/src/lab02/JavaLibrary2/build/
/Lab02/src/lab02/JavaLibrary2/nbproject/private/
/Lab02/src/lab02/B/nbproject/private/
/Lab02/src/lab02/Bai11_12_13/nbproject/private/
/Lab02/src/lab02/Bai11_12_13/build/
/Lab02/src/lab02/Bai111213/nbproject/
/Lab02/src/lab02/Bai111213/.gradle/
/Lab02/src/lab02/Bai111213/build/
